{% extends 'layouts/generic.html' %}

{% block header %}About{% endblock %}

{% block content %}
<div class="bg-white shadow-md p-4 rounded-md flex flex-col gap-4">
  <p>Hi! my name is Luis Portillo, Venezuelan Fullstack Web Developer (DevCorvus). This time I have decided to do this learning project in Django, something quite simple but in order to explore its features, development philosophy among other things, in addition to being based on one of my favorite languages (Python).</p>
  <p>This is a simple task app with groups and messages, but internally it covers many of the essential features that Django offers.</p>
  <p>The development was relatively simple and fast but it required an extensive reading of documentation especially to customize various built-in functionalities. Many of which were relatively uncomfortable at first, but once you get the hang of it, it's pretty easy and comfortable.</p>
  <p>Clearly this is a learning project and it lacks many functionalities since the purpose was mainly to test the framework and what it had to offer. There is an API endpoint in <a class="text-blue-500" href="/api/">/api/</a> just to test the Django Rest Framework, but only that as it is generally redundant in terms of my learning.</p>
  <p>If you want to contact me for any reason, I leave the following means of contact at your disposal: <a class="text-blue-500" href="https://devbanner.herokuapp.com/contact/" target="_blank">DevBanner's Contact Page (My personal Blog).</a></p>
  <p><strong>Thanks for reading! .) ♥</strong></p>
</div>
{% endblock %}